.layout-module--navBg--1irpR {
    background-color: #4b4596 !important;
    position: sticky !important;
    top: 0;
    z-index: 999;
}
.header-module--headerBody--1Eq5d {
    width: 100%;
}