$navy: #192534;
$bright-navy: #142b47;
$light-navy: #203143;
$text-body-blue: #3b4f63;
$text-light-blue: #a7b8cc;
$btn-blue: #d1dbe6;
$bg-light-blue: #f7fcff;
$yellow: #ffcc00;
$yellow-dark: #f2c200;
